@import "utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* ? =========== colors =========== */
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

body{
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--dark);
  height: 800px;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav{
  padding: 2rem 0;
}

header nav .logo{
  margin-right: 3rem;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease;
}

header nav .left a:hover{
  color: var(--primary);
}