@import "utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* ? =========== colors =========== */
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav {
  padding: 2rem 0;
}

header nav .logo {
  margin-right: 3rem;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

.hero_area {
  padding: 1rem 0;
}
.hero_area .left img {
  width: 350px;
}
.hero_area .right {
  color: var(--pure);
  margin-top: -7rem;
}
.hero_area .right h6 {
  color: var(--primary);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.hero_area .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero_area .right h1 span {
  color: var(--primary);
}
.hero_area .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

.about {
  padding: 6rem 0;
}
.about .about_img {
  height: 450px;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.about h1 span {
  color: var(--primary);
}
.about h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 3rem;
}
.about .social {
  display: flex;
}
.about .social a {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--pure);
  font-size: 1.2rem;
  margin-right: 0.6rem;
  transition: 0.3s ease;
}

.about .social a:hover {
  background-color: var(--primary);
}

.services {
  background-color: var(--light);
}
.services .section_heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
}
.services .section_heading span {
  color: var(--primary);
}
.services .section_heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 6rem;
  text-align: center;
}
section.services .card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 8rem;
}
section.services .card_wrapper .card {
  background-color: var(--pure);
  padding: 3rem 2rem;
  padding-top: 6rem;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}
section.services .card_wrapper .card:hover {
  background-color: var(--dark);
}
section.services .card_wrapper .card:hover h2, section.services .card_wrapper .card:hover p{
  color: var(--pure);
}
section.services .card_wrapper .card i {
  background-color: var(--primary);
  width: 100px;
  padding: 1rem;
  font-size: 40px;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
section.services .card_wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: -2.5rem;
}
section.services .card_wrapper .card p {
 color: var(--ternary);
 font-family: "Lato", sans-serif;
 line-height: 1.6;
 
}
